<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Gmailreg</display-name>
    <servlet-name>Gmailreg</servlet-name>
    <servlet-class>Gmailreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gmailreg</servlet-name>
    <url-pattern>/Gmailreg</url-pattern>
  </servlet-mapping>
  <display-name>JJ4-2-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GmailReg</display-name>
    <servlet-name>GmailReg</servlet-name>
    <servlet-class>GmailReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GmailReg</servlet-name>
    <url-pattern>/GmailReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gmail_reg</display-name>
    <servlet-name>Gmail_reg</servlet-name>
    <servlet-class>Gmail_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gmail_reg</servlet-name>
    <url-pattern>/Gmail_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
</web-app>